
<div ng-controller="TransportationListCtrl" layout="row" layout-wrap id="transportation-list" ng-if="!show_loading">

	<div ng-if="show_loading" class="loading" flex="100">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>

	<div layout="row" layout-align="center center" flex="100">
		<md-autocomplete flex="65"
										 md-search-text="district_search"
										 md-items="district in districts.results | filter:search | orderBy: 'name'"
										 md-item-text="district.name"
										 md-min-length="0"
										 placeholder="Cari berdasarkan kabupaten ..."
										 class="animated fadeIn">
			<ng-md-icon icon="search" aria-label="search" style="padding-top: 7px"></ng-md-icon>
			<md-item-template>
				<span class="animated fadeIn" md-highlight-text="search" md-highlight-flags="^i">{$district.name$}</span>
			</md-item-template>
			<md-not-found>
			</md-not-found>
		</md-autocomplete>
	</div>

	<div layout="row" flex="100">
		<md-list flex="100" flex-md="80" flex-lg="80" flex-gt-lg="80" flex-offset="0" flex-offset-md="10" flex-offset-lg="10" flex-offset-gt-lg="10">
			<md-list-item dir-paginate="transportation in transportations.results | filter: district_search | itemsPerPage: 5" class="md-3-line md-long-text" flex>
				<img ng-src="{$transportation.image$}" class="md-avatar" alt=""/>
				<div class="md-list-item-text">
					<h3>
						{$ transportation.name $} &nbsp;&nbsp;
					</h3>
					<p>&nbsp;</p>
					<p><ng-md-icon icon="link" size="20" aria-label="tanggal"></ng-md-icon> <a ng-href="{$transportation.website$}">{$transportation.website$}</a></p>
					<p>&nbsp;</p>
					<p>
						{$transportation.description$}<br>
					</p>
					<p>&nbsp;</p>
					<p>
						Beroperasi di daerah :
              <span ng-repeat="district in transportation.districts_resolved" class="animated fadeIn">
                <span ng-if="$index == 0">{$district.name$} </span>
                <span ng-if="$index != 0">, {$district.name$} </span>
              </span>
					</p>
					<p>&nbsp;</p>
				</div>
				<md-divider ng-if="!$last"></md-divider>
			</md-list-item>
		</md-list>
	</div>
	<div layout="row" flex="100" layout-align="center" layout-margin layout-padding style="margin-bottom: 20px">
		<dir-pagination-controls></dir-pagination-controls>
	</div>
</div>