<div ng-controller="ArticleListCtrl">

	<div ng-if="show_loading" class="loading">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>

	<div ng-if="!show_loading" ng-controller="SearchCtrl" class="animated fadeIn">
		<div ng-controller="PageCtrl" hide-sm hide-md>
			<div class="faux-image-container">
				<input ng-show="search_opened" class="search-input" ng-model="$parent.ArticleSearch.search" flex="grow" flex-offset="5" autofocus spellcheck="false">
				<img id="faux-image" ng-src="{$ page.results[0].article_list_image $}">
				<h3 class="md-display-1 article-title" flex>{$ page.results[0].article_list_tagline $}</h3>
			</div>
		</div>

		<div>
			<div ng-class="{'search-area': search_opened == true, 'search-not-activated': search_opened == false}">
			</div>

			<a class="search-btn material-teal" ng-click="toggleSearch(); ArticleSearch.clearAllSearch()" flex flex-offset="5">
				<ng-md-icon icon="{$search_icon$}" aria-label="article"></ng-md-icon>
			</a>
		</div>
		<div hide-gt-md style="margin-top: 70px;"></div>


		<md-content ng-cloak class="md-padding article-list" ng-show="show_loading == false">
			<div layout="column">
				<div layout="row" layout-no-wrap>

					<div flex="20" hide-sm hide-md id="article-left-nav" layout-padding layout="column">
						<md-content id="art-search-box">
							<div class="md-headline animated fadeIn" id="art-search-box-title" flex="75">Kategori</div>


							<a href="javascript:void(0)" ng-click="ArticleSearch.clearCategorySearch()">
								<div layout="row" layout-align="start center">
									<div flex="50" class="md-subhead">Semua</div>
									<md-button class="md-icon-button" aria-label="Favorite">
										<ng-md-icon icon="{$ArticleSearch.getCategoryIcon('')$}" size="26" style="fill: rgba(255, 179, 15, 0.96)" aria-label="user"></ng-md-icon>
									</md-button>
								</div>
							</a>
							<div ng-repeat="category in categories">

								<a href="javascript:void(0)" ng-click="ArticleSearch.setCategorySearch(category)">
									<div layout="row" layout-align="start center">
										<span class="md-subhead" flex="50">{$ category $}</span>
										<md-button class="md-icon-button" aria-label="Favorite">
											<ng-md-icon icon="{$ArticleSearch.getCategoryIcon(category)$}" size="26" style="fill: {$ categories_colors[$index] $}" aria-label="user"></ng-md-icon>
										</md-button>
									</div>
								</a>

							</div>
						</md-content>
					</div>

					<div layout="row" layout-wrap flex="70" flex-sm="100" flex-md="100">

						<div ng-show="show_loading == true" class="loading">
							<md-progress-circular md-mode="indeterminate"></md-progress-circular>
						</div>

						<div ng-cloak ng-show="show_loading == false"
								 dir-paginate="article in articles.results |
								 filter: ArticleSearch.search |
								 filter: ArticleSearch.category_search |
								 itemsPerPage: 5 ">
							<div ng-controller="ArticleRepeatCtrl">
								<md-card id="posts">
									<a ng-href="/artikel/{$ slugify(article.title) $}">
										<span class="md-title article-list-title">{$ article.title $}</span>
										<div class="article-image"><img ng-src="{$thumbnail.image$}" class="md-card-image" alt=""></div>

									</a>
									<md-card-content>
										<span class="md-body-2">
												<ng-md-icon icon="access_time" size="20" aria-label="tanggal"></ng-md-icon>
												{$ article.date $}&nbsp;&nbsp;
												<ng-md-icon icon="sort" size="20" aria-label="tanggal"></ng-md-icon>
												<a href="javascript:void(0)" ng-click="ArticleSearch.setCategorySearch(article.category)"> {$ article.category $}</a>
										</span>
										<p class="md-body-1">
											{$ article_short_description $}
										</p>
									</md-card-content>
								</md-card>
								<br/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div layout="row" layout-align="center center">
				<div flex-offset="5">
					<dir-pagination-controls></dir-pagination-controls>
				</div>
			</div>
		</md-content>
	</div>
</div>
