<md-dialog aria-label="komplain">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>komplain</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="closeDialog()">
				<ng-md-icon icon="close" aria-label="close dialog"></ng-md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content id="report_view" ng-controller="RegisterCtrl">
		<div class="md-dialog-content" layout="column" layout-align="center center">
			<form role="form" name="reportForm" ng-submit="save()" novalidate layout="column" layout-align="left center">
				<md-autocomplete
										md-search-text="travel_destination_search"
										md-items="travel_destination in travel_destinations.results | filter: travel_destination_search | orderBy: 'name'"
										md-item-text="travel_destination.name"
										md-min-length="0"
										md-floating-label="Lokasi Wisata"
										placeholder="Lokasi Wisata"
										class="animated fadeIn">
							<md-item-template>
								<span class="animated fadeIn" md-highlight-text="travel_destination_search" md-highlight-flags="^i">{$travel_destination.name$}</span>
							</md-item-template>
							<md-not-found>
							</md-not-found>
						</md-autocomplete>
				<md-input-container>
					<label>Kategori</label>
					<md-select ng-model="newReport.category">
						<md-option ng-repeat="category in categories" value="{$category$}">
							{$category$}
						</md-option>
					</md-select>
				</md-input-container>
				<md-input-container>
					<label for="id_report">Isi Komplain</label>
					<textarea name="report" id="id_report" class="form-control" type="text" ng-model="newReport.report" placeholder="Isi Komplain"></textarea>
					<div ng-messages="reportForm.report.$error">
						<div ng-message="required" ng-repeat="error in errors.report">{$error$}</div>
					</div>
				</md-input-container>
				<md-button class="md-raised md-accent" ng-click="save()">Laporkan</md-button>
			</form>
		</div>
	</md-dialog-content>

</md-dialog>

