<md-dialog aria-label="komplain">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>komplain</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="closeDialog()">
				<ng-md-icon icon="close" aria-label="close dialog"></ng-md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content class="md-dialog-content-register" id="register_view" ng-controller="RegisterCtrl">
		<form class="form-inline">
        <div class="form-group block-level">
            <input type="text" class="form-control" ng-model="newReport.category" placeholder="Kategori">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="newReport.report" placeholder="Isi Komplain">
        </div>
			<div class="form-group">
            <input type="text" class="form-control" ng-model="newReport.travel_destination" placeholder="Lokasi Wisata">
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="save()">Add Post</button>
        </div>
    </form>
	</md-dialog-content>

</md-dialog>

