<div ng-controller="TravelDestinationListCtrl">

	<div ng-show="show_loading == true" class="loading">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>


	<div ng-controller="SearchCtrl" ng-show="show_loading == false" class="animated fadeIn">
		<div ng-controller="PageCtrl" hide-sm hide-md>
			<div class="faux-image-container">
				<input ng-show="search_opened" class="search-input" ng-model="$parent.TravelDestinationSearch.search" flex="grow"
							 flex-offset="5" autofocus spellcheck="false">
				<img id="faux-image" ng-src="{$ page.results[0].travel_destination_list_image $}">
			</div>
		</div>

		<div>
			<div ng-class="{'search-area': search_opened == true, 'search-not-activated': search_opened == false}">
			</div>

			<a class="search-btn material-teal"
				 ng-click="toggleSearch(); TravelDestinationSearch.clearAllSearch()"
				 flex flex-offset="5">
				<ng-md-icon icon="{$search_icon$}" aria-label="article"></ng-md-icon>
			</a>
		</div>
		<div hide-gt-md style="margin-top: 70px;"></div>

		<md-content ng-cloak class="md-padding animated fadeIn" ng-show="show_loading == false">
			<div layout="row" layout-no-wrap>
				<div flex="20" hide-sm hide-md layout-padding layout="column" layout-sm="column">
					<div ng-show="search_opened" id="art-search-box">
						<span class="md-headline animated fadeIn" id="dest-search-box-title">Cari</span>
						<md-autocomplete
										md-search-text="TravelDestinationSearch.category_search"
										md-items="category in $parent.categories | filter:TravelDestinationSearch.category_search | orderBy: 'category'"
										md-item-text="category"
										md-min-length="0"
										placeholder="Kategori"
										md-floating-label="kategori"
										class="animated fadeIn dest-search-row category-search">
							<md-item-template>
								<span class="animated fadeIn" md-highlight-text="TravelDestinationSearch.category_search" md-highlight-flags="^i">{$category$}</span>
							</md-item-template>
							<md-not-found>
							</md-not-found>
						</md-autocomplete>
						<md-autocomplete
										md-search-text="TravelDestinationSearch.district_search"
										md-items="district in $parent.districts.results | filter:TravelDestinationSearch.district_search | orderBy: 'name'"
										md-item-text="district.name"
										md-min-length="0"
										placeholder="kabupaten"
										md-floating-label="kabupaten"
										class="animated fadeIn dest-search-row district-search">
							<md-item-template>
								<span class="animated fadeIn" md-highlight-text="TravelDestinationSearch.district_search" md-highlight-flags="^i">{$district.name$}</span>
							</md-item-template>
							<md-not-found>
							</md-not-found>
						</md-autocomplete>
						<md-autocomplete
										md-search-text="TravelDestinationSearch.province_search"
										md-items="province in $parent.provinces.results | filter:TravelDestinationSearch.province_search | orderBy: 'name'"
										md-item-text="province.name"
										md-min-length="0"
										md-floating-label="provinsi"
										placeholder="provinsi"
										class="animated fadeIn dest-search-row province-search">
							<md-item-template>
								<span class="animated fadeIn" md-highlight-text="TravelDestinationSearch.province_search" md-highlight-flags="^i">{$province.name$}</span>
							</md-item-template>
							<md-not-found>
							</md-not-found>
						</md-autocomplete>
						<md-autocomplete
										md-search-text="TravelDestinationSearch.region_search"
										md-items="region in $parent.regions.results | filter:TravelDestinationSearch.region_search | orderBy: 'name'"
										md-item-text="region.name"
										md-min-length="0"
										md-floating-label="wilayah"
										placeholder="wilayah"
										class="animated fadeIn dest-search-row region-search">
							<md-item-template>
								<span class="animated fadeIn" md-highlight-text="TravelDestinationSearch.region_search" md-highlight-flags="^i">{$region.name$}</span>
							</md-item-template>
							<md-not-found>
							</md-not-found>
						</md-autocomplete>
					</div>

					<div ng-if="allow_distance_toggle" class="animated fadeIn" id="toggle-distance">
						<md-checkbox ng-model="distance_toggle" aria-label="Checkbox 1" ng-disabled="true">
							urutkan berdasarkan lokasi terdekat
						</md-checkbox>
					</div>
				</div>

				<div layout="row" layout-wrap flex="80" flex-sm="100" flex-md="100">
					<div ng-cloak dir-paginate="travel_destination in travel_destinations.results | filter: TravelDestinationSearch.search | filter: TravelDestinationSearch.district_search
					| filter: TravelDestinationSearch.category_search | filter: TravelDestinationSearch.province_search | filter: TravelDestinationSearch.region_search | filter: search
					| itemsPerPage: 9"
							 flex="33" flex-sm="100" flex-md="50">
						<div ng-controller="TravelDestinationRepeatCtrl">
							<md-card id="posts">
								<a ng-href="/lokasi-wisata/{$ slugify(travel_destination.name) $}">
									<span class="md-title article-list-title">{$ travel_destination.name $}</span>
									<div class="article-image"><img ng-show="thumbnail.image != null" ng-src="{$thumbnail.image$}" class="md-card-image animated fadeIn" alt="Washed Out"></div>

								</a>
								<md-card-content>
						<span class="md-body-2" layout="row" layout-wrap>
							<span flex="100" flex-gt-lg="60">
								<ng-md-icon icon="sort" size="20" aria-label="tanggal"></ng-md-icon>
								<a href="javascript:void(0)" ng-click="TravelDestinationSearch.setSearch(travel_destination.type)">
									<span class="animated fadeIn">{$ travel_destination.type $}</span>
								</a>
							</span>
							<span flex="100" flex-gt-lg="40" ng-show="district.name != null" class="animated fadeIn">
								<ng-md-icon icon="place" size="20" aria-label="tempat"></ng-md-icon>
								<a href="javascript:void(0)" ng-click="TravelDestinationSearch.setSearch(district.name)">
									{$ district.name $}
								</a>
							</span>
						</span>
									<p class="md-body-1">
										{$ travel_destination_short_description $}
									</p>
								</md-card-content>
							</md-card>
							<br/>
						</div>
					</div>
				</div>

			</div>
			<div layout="row" layout-align="center center">
				<div flex-offset="5">
					<dir-pagination-controls></dir-pagination-controls>
				</div>
			</div>

		</md-content>
	</div>
</div>