<div ng-controller="TravelDestinationDetailCtrl">

	<div ng-show="show_loading" class="loading">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>

	<div ng-if="!show_loading" layout="column" layout-fill ng-repeat="travel_destination in travel_destination.results" class="animated fadeIn">
		<div layout="row">
			<h2 ng-repeat="image in main_images" class="tagline md-display-1" flex="60"
					ng-if="isCurrentSlideIndex($index)">{$image.tag$}</h2>
		</div>
		<div class="slider">
			<ul rn-carousel class="image" rn-carousel-auto-slide="5">
				<li ng-repeat="image in main_images">
					<img class="layer faux-image" ng-src="{$ image.image $}">
				</li>
			</ul>
		</div>
		<md-toolbar md-theme="destination">
			<div class="md-toolbar-tools">
				<span flex="5"></span>
				<h2>{$ travel_destination.name $}</h2>
			</div>
		</md-toolbar>
		<div layout="row" md-theme="destination">
			<div flex="5"></div>
			<md-tabs flex md-dynamic-height>
				<md-tab label="{$travel_destination.name$}">
					<div ng-bind-html="travel_destination.full_description | trustAsHtml"></div>
				</md-tab>
				<md-tab ng-repeat="travel_destination_content in travel_destination_contents">
					<md-tab-label>
						{$travel_destination_content.name$}
					</md-tab-label>
					<md-tab-body>
						<div ng-bind-html="travel_destination_content.content | trustAsHtml"></div>
					</md-tab-body>
				</md-tab>
				<md-tab label="galeri" ng-if="gallery_images.length > 0 ">
					<div class='md-padding'>
						<div layout="row" layout-wrap>
							<div ng-repeat="image in gallery_images" flex="33" layout="row" style="margin-top: 10px">
								<a ng-click="showImage(image.image)" class="pointer">
									<img ng-src="{$image.image$}" class="gallery-thumbnail" flex>
								</a>
								<span flex="10"></span>
							</div>
						</div>
					</div>
				</md-tab>
			</md-tabs>
			<div flex="5"></div>
			<div flex="25" class="dest-side" layout="column">
				<div class="dest-side-row">
					<ng-md-icon icon="place" size="20" aria-label="tanggal"></ng-md-icon>
					<a ng-href="/lokasi-wisata?search={$district.name$}" class="animated fadeIn" ng-if="district.name"><span>{$district.name $}</span></a>,
					<a ng-href="/lokasi-wisata?search={$province.name$}" class="animated fadeIn" ng-if="province.name"><span>{$province.name $}</span></a>
					<a ng-href="/lokasi-wisata?search={$region.name$}" class="animated fadeIn" ng-if="region.name"><span>{$region.name $}</span></a>
				</div>
				<div class="dest-side-row">
					<ng-md-icon icon="sort" size="20" aria-label="tanggal"></ng-md-icon>
					<a ng-href="/lokasi-wisata?search={$travel_destination.type$}">
						<span class="animated fadeIn">{$ travel_destination.type $}</span>
					</a>
				</div>
				<div class="dest-side-row" ng-if="travel_destination.website">
					<ng-md-icon icon="link" size="20" aria-label="tanggal"></ng-md-icon>
					<a ng-href="{$travel_destination.website">{$travel_destination.website$}</a>
				</div>
				<div class="dest-side-row">
					<ng-md-icon icon="directions" size="20" aria-label="tanggal"></ng-md-icon>
					<a ng-href="/peta?ltd={$travel_destination.latitude$}&lng={$travel_destination.longitude$}">lihat di peta&nbsp;</a>
				</div>
				<div class="dest-side-row" layout="row" layout-align="start">
					<ng-md-icon icon="facebook-box" size="20" aria-label="tanggal"></ng-md-icon>
					<a facebook class="facebookShare" data-url='{$current_url$}' data-shares='shares' style="margin-left: 5px">{$ shares $}</a>
					<span flex></span>
				</div>
				<div class="dest-side-row" layout="row" layout-align="start">
					<ng-md-icon icon="twitter" size="20" aria-label="tanggal"></ng-md-icon>
					<a twitter data-lang="id"
						 style="margin-left: 5px"
						 data-count='horizontal'
						 data-url='{$current_url$}'
						 data-via='DiscoverIndonesia'
						 data-size="medium"
						 data-text='Saya telah mengunjungi {$travel_destination.name$}, kapan giliranmu?' ></a>
					<span flex></span>
				</div>
				<div flex></div>
				<div layout="row" layout-align="start center" flex>
					<div ng-controller="ReportCtrl" ng-show="authenticated">
						<md-button class="md-raised md-warn" ng-click="showReport(travel_destination)">
							<ng-md-icon icon="report_problem" size="20" aria-label="tanggal"></ng-md-icon> komplain&nbsp;
						</md-button>
					</div>
					<md-button class="md-raised md-warn" ng-show="!authenticated">
						<md-tooltip md-direction="down">
							anda harus masuk terlebih dahulu
						</md-tooltip>
						<ng-md-icon icon="report_problem" size="20" aria-label="tanggal"></ng-md-icon> komplain&nbsp;
					</md-button>
				</div>
			</div>
		</div>
	</div>
</div>