{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Title</title>
		<meta charset="UTF-8">
		<meta name=description content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'css/auth.css' %}">
		<!-- Angular-material CSS -->
        <link rel="stylesheet" href="{% static 'css/angular-material.min.css' %}">


        <!-- Main CSS -->
        <base href="/">
	</head>

	<body ng-app="kompres">
        <div layout="column" layout-fill>
          <md-toolbar ng-controller="NavCtrl">
            <div class="md-toolbar-tools">
              <span>My App's Title</span>
              <!-- fill up the space between left and right area -->
              <span flex></span>
              <md-button>
                Right Bar Button
              </md-button>
            </div>
          </md-toolbar>
          <md-content>
            <!-- angular-django-registration-auth -->
            <div ng-controller="MasterCtrl">
                <main ng-view></main>
            </div>
          </md-content>
        </div>

        <!-- angular v1.4.2 -->
		<script src="{% static 'js/angular.js' %}"></script>
        <script src="{% static 'js/angular-route.js' %}"></script>
        <script src="{% static 'js/angular-resource.js' %}"></script>
        <!-- my stuff -->
        <script src="{% static 'js/app.js' %}"></script>
		<script src="{% static 'js/controllers.js' %}"></script>
        <script src="{% static 'js/services.js' %}"></script>
        <!-- angular-hateoas -->
        <script src="{% static 'js/angular-hateoas.js' %}"></script>
        <!-- angular-material dependencies -->
        <script src="{% static 'js/angular-animate.min.js' %}"></script>
        <script src="{% static 'js/angular-aria.min.js' %}"></script>
        <script src="{% static 'js/angular-material.min.js' %}"></script>

        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <!-- angular-django-registration-auth dependencies -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/angular-cookies.min.js' %}"></script>
        <script src="{% static 'js/angular-sanitize.min.js' %}"></script>

        <!-- angular-django-registration auth -->
        <script src="{% static 'js/controllers/main.js' %}"></script>
        <script src="{% static 'js/controllers/register.js' %}"></script>
        <script src="{% static 'js/controllers/passwordreset.js' %}"></script>
        <script src="{% static 'js/controllers/passwordresetconfirm.js' %}"></script>
        <script src="{% static 'js/controllers/login.js' %}"></script>
        <script src="{% static 'js/controllers/verifyemail.js' %}"></script>
        <script src="{% static 'js/controllers/logout.js' %}"></script>
        <script src="{% static 'js/controllers/userprofile.js' %}"></script>
        <script src="{% static 'js/controllers/passwordchange.js' %}"></script>
        <script src="{% static 'js/services/djangoAuth.js' %}"></script>
        <script src="{% static 'js/services/validate.js' %}"></script>
        <script src="{% static 'js/controllers/master.js' %}"></script>
        <script src="{% static 'js/controllers/restricted.js' %}"></script>
        <script src="{% static 'js/controllers/authrequired.js' %}"></script>

	</body>

</html>