<md-dialog aria-label="masuk" ng-controller="LoginNavCtrl">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{$ tab $}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="closeDialog()">
				<ng-md-icon icon="close" aria-label="close dialog"></ng-md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content class="md-dialog-content-login">
		<form role="form" ng-submit="login(loginForm)" ng-cloak ng-controller="LoginCtrl" name="loginForm" novalidate class="login" layout="column" layout-align="center center" ng-show="tab == 'Login'">

			<div class="md-dialog-content" layout="column" layout-align="center center">

				<md-input-container class="md-block">
					<label for="id_username">username</label>
					<input auto-focus name="username" id="id_username" type="text" ng-model="model.username" placeholder="username" class="form-control" required />
					<div ng-messages="loginForm.username.$error">
						<div ng-message="required" ng-repeat="error in errors.username">{$error$}</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label for="id_password">password</label>
					<input name="password" id="id_password" type="password" ng-model="model.password" placeholder="password" class="form-control" required />
					<div ng-messages="loginForm.password.$error">
						<div ng-message="required" ng-repeat="error in errors.password">{$error$}</div>
					</div>
				</md-input-container>
				<div ng-show="errors" class="animated fadeIn">
					<p class="md-body-1" ng-repeat="error in errors.non_field_errors">{$error$}</p>
					<p class="md-body-1" ng-if="error">{$error$}</p>
				</div>
				<span ng-show="show_loading && !errors.length > 0">
					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
				</span>
				<md-button ng-show="show_loading == false || errors" type="submit" class="md-raised md-primary">masuk</md-button>
				<md-button class="md-raised md-accent" ng-click="setTab('Lupa Password')">lupa password</md-button>
			</div>
			<div ng-if="authenticated">{$ closeDialogDelayed() $}</div>
		</form>

		<form role="form" name="passwordResetForm" ng-submit="resetPassword(passwordResetForm)" novalidate ng-show="tab == 'Lupa Password'" ng-controller="PasswordresetCtrl">

			<div class="md-dialog-content" layout="column" layout-align="center center">

				<md-input-container class="md-block">
					<label for="id_email">Email</label>
					<input auto-focus name="email" id="id_email" class="form-control" type="text" ng-model="model.email" placeholder="Email" required/>
					<div ng-messages="passwordResetForm.email.$error">
						<div ng-message="required" ng-repeat="error in errors.email">{$error$}</div>
						<div ng-message="email" ng-repeat="error in errors.email">{$error$}</div>
					</div>
				</md-input-container>

				<div ng-show="errors" class="animated fadeIn">
					<p class="md-body-1" ng-repeat="error in errors.non_field_errors">{$error$}</p>
					<p class="md-body-1" ng-repeat="error in errors.__all__">{$error$}</p>
					<p class="md-body-1" ng-repeat="error in errors.email">{$error$}</p>
				</div>
				<span ng-show="show_loading && errors.length == 0 && !complete">
					<md-progress-circular md-mode="indeterminate" style="margin: 0;"></md-progress-circular>
				</span>
				<div ng-if="complete == true">
					<p class="md-body-1">Cek email anda untuk instruksi reset password anda!</p>
				</div>
				<md-button ng-show="show_loading == false" type="submit" class="md-raised md-primary">reset password</md-button>
				<md-button class="md-raised md-accent" ng-click="setTab('Login')">login</md-button>

			</div>
		</form>
	</md-dialog-content>

</md-dialog>