<md-dialog aria-label="masuk">
	<md-dialog-content class="md-dialog-content-login" ng-controller="LoginCtrl" ng-cloak>
		<form role="form" ng-submit="login(loginForm)" name="loginForm" novalidate class="login" layout="column" layout-align="center center" ng-show="tab == 'login'">

			<div class="md-dialog-content" layout="column" layout-align="center center">

				<md-input-container class="md-block">
					<label for="id_username">username</label>
					<input auto-focus name="username" id="id_username" type="text" ng-model="model.username" placeholder="username" class="form-control" required />
					<div ng-messages="loginForm.username.$error">
						<div ng-message="required" ng-repeat="error in errors.username">{$error$}</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label for="id_password">password</label>
					<input name="password" id="id_password" type="password" ng-model="model.password" placeholder="password" class="form-control" required />
					<div ng-messages="loginForm.password.$error">
						<div ng-message="required" ng-repeat="error in errors.password">{$error$}</div>
					</div>
				</md-input-container>
				<div ng-show="errors" class="animated fadeIn">
					<p ng-repeat="error in errors.non_field_errors">{$error$}</p>
					<p ng-if="error">{$error$}</p>
				</div>
				<span ng-show="show_loading && !errors.non_field_errors && loginForm.password.$error.required == null && loginForm.username.$error.required == null">
					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
				</span>
				<md-button ng-show="show_loading == false || errors" type="submit" class="md-raised md-primary">masuk</md-button>
				<md-button class="md-raised md-accent" ng-click="setTab('reset-password')">lupa password</md-button>
			</div>
			<div ng-if="authenticated">{$ closeDialog() $}</div>
		</form>

		<form role="form" name="passwordResetForm" ng-submit="resetPassword(passwordResetForm)" novalidate ng-show="tab == 'reset-password'" ng-controller="PasswordresetCtrl">

			<div class="md-dialog-content" layout="column" layout-align="center center">

				<md-input-container class="md-block">
					<label for="id_email">Email</label>
					<input name="email" id="id_email" type="text" ng-model="model.email" placeholder="Email" required />
					<div ng-messages="passwordResetForm.username.$error">
						<div ng-message="required" ng-repeat="error in errors.email">{$error$}</div>
					</div>
				</md-input-container>
				<md-button class="md-warn" ng-repeat="error in errors.non_field_errors">{$error$}</md-button>
				<md-button class="md-warn" ng-if="error">{$error$}</md-button>
				<md-button ng-show="reset_clicked == false" type="submit" class="md-raised md-primary" ng-click="reset_clicked = true">reset password</md-button>
				<span ng-show="reset_clicked && !complete">
					<md-progress-circular md-mode="indeterminate" style="margin: 0;"></md-progress-circular>
				</span>
				<div ng-if="complete == true">
					<p>Cek email anda untuk instruksi reset password anda!</p>
				</div>
				<md-button class="md-raised md-accent" ng-click="setTab('login')">login</md-button>

			</div>
		</form>
	</md-dialog-content>

</md-dialog>