<div id="passwordResetConfirm_view" ng-controller="PasswordresetconfirmCtrl" style="margin-top: 300px" layout="row" layout-align="center center">
    <div ng-if="complete == false">
        <form role="form" ng-if="authenticated != true" ng-submit="confirmReset(confirmResetForm)" name="confirmResetForm" novalidate layout="column" layout-align="center center">
            <div class="form-group" style="margin-bottom: 15px">
                <label for="id_password1">Password Baru</label>
                <input name="password1" id="id_password1" type="password" ng-model="model.new_password1" placeholder="Password Baru" class="form-control" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.password1">{$error$}</div>
            <div class="form-group" style="margin-bottom: 15px">
                <label for="id_password2">Ulangi Password</label>
                <input name="password2" id="id_password2" type="password" ng-model="model.new_password2" placeholder="Ulangi Password" class="form-control" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.password2">{$error$}</div>
            <md-button type="submit" ng-hide="authenticated" class="md-raised md-primary">Reset Password</md-button>
        </form>
        <p ng-if="authenticated">You are already logged in!  You don't need to reset your password.</p>
    </div>
    <div ng-if="complete == true">
        <div class="alert alert-success">Anda berhasil mengubah password anda.</div>
    </div>
</div>
