<md-dialog aria-label="Mango (Fruit)" flex="grow" flex-gt-lg="30">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Profil</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="closeDialog()">
				<ng-md-icon icon="close" aria-label="close dialog"></ng-md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="profil">
				<md-content class="md-padding" ng-controller="UserprofileCtrl">
					<form role="form" name="userProfileForm" ng-submit="updateProfile(userProfileForm, model)" novalidate>

						<div class="md-dialog-content" layout="row" layout-wrap layout-align="center center">

							<md-input-container flex="100">
								<label for="id_first_name">Nama</label>
								<input name="first_name" id="id_first_name" class="form-control" type="text" ng-model="model.first_name" placeholder="Nama" />
								<div ng-messages="userProfileForm.first_name.$error">
									<div ng-message="required" ng-repeat="error in errors.first_name">{$error$}</div>
								</div>
							</md-input-container>
							<md-autocomplete flex="100"
															 md-search-text="district_search"
															 md-items="district in districts.results | filter:district_search | orderBy: 'name'"
															 md-item-text="district.name"
															 md-selected-item-change="hyperlinkedIt(district)"
															 md-min-length="0"
															 placeholder="Kabupaten"
															 md-floating-label="Kabupaten"
															 class="animated fadeIn">
								<md-item-template>
									<span class="animated fadeIn" md-highlight-text="district_search" md-highlight-flags="^i">{$district.name$}</span>
								</md-item-template>
								<md-not-found>
								</md-not-found>
							</md-autocomplete>
							<div ng-show="errors" class="animated fadeIn">
								<p class="md-body-1" ng-repeat="error in errors.non_field_errors">{$error$}</p>
								<p class="md-body-1" ng-if="error">{$error$}</p>
							</div>
								<span ng-show="show_loading && errors.length == 0 && !complete">
									<md-progress-circular md-mode="indeterminate"></md-progress-circular>
								</span>
							<div ng-if="complete == true" flex="100" layout="row" layout-align="center center">
								<p class="md-body-1">Profil anda berhasil diperbaharui</p>
							</div>
							<md-button type="submit" ng-show="show_loading == false || errors" class="md-primary md-raised">Perbaharui profil</md-button>
						</div>
					</form>
					<p class="md-body-1" ng-if="authenticated == false">Anda harus masuk terlebih dahulu</p>
				</md-content>
			</md-tab>
			<md-tab label="ubah password">
				<md-content class="md-padding" ng-controller="PasswordchangeCtrl">
					<form role="form" ng-submit="changePassword(changePasswordForm)" name="changePasswordForm" ng-if="authenticated" novalidate>

						<div class="md-dialog-content" layout="row" layout-wrap layout-align="center center">

							<md-input-container class="md-block" flex="100">
								<label for="id_password1">Password Baru</label>
								<input name="new_password1" id="id_password1" type="password" ng-model="model.new_password1" placeholder="Password Baru" class="form-control" required />
								<div ng-messages="changePasswordForm.new_password1.$error">
									<div ng-message="required" ng-repeat="error in errors.new_password1">{$error$}</div>
								</div>
							</md-input-container>
							<md-input-container class="md-block" flex="100">
								<label for="id_password2">Ulangi Password</label>
								<input name="new_password2" id="id_password2" type="password" ng-model="model.new_password2" placeholder="Ulangi Password" class="form-control" required />
								<div ng-messages="changePasswordForm.new_password2.$error">
									<div ng-message="required" ng-repeat="error in errors.new_password2">{$error$}</div>
								</div>
							</md-input-container>
							<div ng-show="errors" class="animated fadeIn">
								<p class="md-body-1" ng-repeat="error in errors.non_field_errors">{$error$}</p>
								<div ng-if="errors.new_password2 != 'This field is required.'">
									<p class="md-body-1" ng-repeat="error in errors.new_password2">{$error$}</p>
								</div>
							</div>
							<div ng-if="complete == true">
								<p class="md-body-1">Password berhasil diubah!</p>
							</div>
							<span ng-show="show_loading && !complete && errors.length == 0">
								<md-progress-circular md-mode="indeterminate"></md-progress-circular>
							</span>
							<md-button class="md-raised md-accent" type="submit">ubah password</md-button>
						</div>
					</form>
				</md-content>
			</md-tab>
			<md-tab label="Komplain">
				<md-content class="md-padding" ng-controller="ReportListCtrl" layout="row" layout-align="center center" layout-wrap>
					<h4 class="md-subheading">Tanda ceklis menandakan komplain anda sudah berhasil diverifikasi. Terima kasih atas kontribusinya.</h4>
					<md-list flex="100">
						<div dir-paginate="report in reports_resolved | itemsPerPage: 4" pagination-id="report">
						<md-list-item class="md-3-line md-long-text" ng-controller="ReportListRepeatCtrl" flex>
							<img ng-src="{$image.image$}" class="md-avatar" alt="" style="color: grey"/>
							<div class="md-list-item-text">
								<h3>{$ travel_destination.name $}</h3>
								<p>
									{$report.created_date | date:'d  MMMM  yyyy'$}<br>
									{$report.report$}
									<md-checkbox class="md-secondary" ng-model="report.approved" ng-disabled="true"></md-checkbox>
								</p>
							</div>
						</md-list-item>
							</div>
					</md-list>
					<div max-size="5" flex="100" layout-align="center-center" layout="row">
						<dir-pagination-controls pagination-id="report" flex></dir-pagination-controls>
					</div>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-dialog-content>
</md-dialog>
