<md-dialog aria-label="Mango (Fruit)">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Profil</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="closeDialog()">
				<ng-md-icon icon="close" aria-label="close dialog"></ng-md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="profil">
				<md-content class="md-padding" ng-controller="UserprofileCtrl">
					<form role="form" name="userProfileForm" ng-submit="updateProfile(userProfileForm, model)" novalidate>

						<div class="md-dialog-content" layout="column" layout-align="center center">

							<md-input-container class="md-block">
								<label for="id_first_name">First Name</label>
								<input name="first_name" id="id_first_name" class="form-control" type="text" ng-model="model.first_name" placeholder="First Name" />
								<div ng-messages="userProfileForm.first_name.$error">
									<div ng-message="required" ng-repeat="error in errors.first_name">{$error$}</div>
								</div>
							</md-input-container>
							<md-input-container class="md-block">
								<label for="id_last_name">Last Name</label>
								<input name="last_name" id="id_last_name" class="form-control" type="text" ng-model="model.last_name" placeholder="Last Name" />
								<div ng-messages="userProfileForm.last_name.$error">
									<div ng-message="required" ng-repeat="error in errors.last_name">{$error$}</div>
								</div>
							</md-input-container>
{#							<md-input-container class="md-block">#}
{#								<label for="id_email">Email</label>#}
{#								<input name="email" id="id_email" class="form-control" type="email" ng-model="model.email" placeholder="Email" required />#}
{#								<div ng-messages="userProfileForm.email.$error">#}
{#									<div ng-message="required" ng-repeat="error in errors.email">{$error$}</div>#}
{#									<div ng-message="email" ng-repeat="error in errors.email">{$error$}</div>#}
{#								</div>#}
{#							</md-input-container>#}
							<div ng-show="errors" class="animated fadeIn">
								<p class="md-body-1" ng-repeat="error in errors.non_field_errors">{$error$}</p>
								<p class="md-body-1" ng-if="error">{$error$}</p>
							</div>
								<span ng-show="show_loading && errors.length == 0 && !complete">
									<md-progress-circular md-mode="indeterminate"></md-progress-circular>
								</span>
							<div ng-if="complete == true">
								<p class="md-body-1">Profil anda berhasil diperbaharui</p>
							</div>
							<md-button type="submit" ng-show="show_loading == false || errors" class="md-primary md-raised">Perbaharui profil</md-button>
						</div>
					</form>
					<p class="md-body-1" ng-if="authenticated == false">Anda harus masuk terlebih dahulu</p>
				</md-content>
			</md-tab>
			<md-tab label="ubah password">
				<md-content class="md-padding">
				</md-content>
			</md-tab>
		</md-tabs>
	</md-dialog-content>
</md-dialog>
