<div layout="column" layout-padding layout-margin style="margin-top:100px;">
	<h2>Disclaimer</h2>
	<p>Hampir seluruh konten Discover Indonesia, termasuk logonya, bukan merupakan karya penulis.
		Konten Discover Indonesia hanya merupakan pelengkap dan bukan sebagai fokus utama dari penulis.
		Fokus utama penulis adalah pembangungan sistem dan aplikasi Discover Indonesia, yang tujuannya
		bukan untuk komersial maupun pengalihan traffic, melainkan digunakan untuk kepentingan edukasional
		dan demonstrasi lomba Kompetisi Pembuatan Software Gunadarma 2015/2016.. Mohon maaf jika ada pihak
		yang tidak berkenan karyanya digunakan dalam Discover Indonesia, bisa menghubungi abirafdiraditya@gmai.com</p>
</div>
