<div ng-show="show_loading" class="loading">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
<div ng-show="!show_loading">
<div>
	<ui-gmap-google-map center="map.center"
											zoom="map.zoom" bounds="map.bounds">
		<ui-gmap-markers models="markers" coords="'self'" icon="'icon'">
			<ui-gmap-windows show="show" control="googlemap">
				<div ng-non-bindable>
					<div layout="column" layout-align="center center" class="map-info-container">
						<img class="map-info-img" src="{$thumbnail_image.image$}" flex>
						<span><h2 class="md-heading"> <a href="/lokasi-wisata/{$name_slugified$}">{$name$} </a></h2></span>
						<p flex class="md-body-2">{$short_description$}</p>
				</div>
          </div>
			</ui-gmap-windows>
		</ui-gmap-markers>

	</ui-gmap-google-map>
</div>

<div class="map-search">
	<div layout="row" layout-align="left center">
		<md-autocomplete flex
										 md-search-text="search"
										 md-items="travel_destination in travel_destinations.results | filter:search | orderBy: 'name'"
										 md-item-text="travel_destination.name"
										 md-selected-item-change="searchSelectedChange(travel_destination)"
										 md-search-text-change="searchTextChange(search)"
										 md-min-length="0"
										 placeholder="Cari lokasi wisata ..."
										 class="animated fadeIn">
			<ng-md-icon icon="search" aria-label="search" style="padding-top: 7px"></ng-md-icon>
			<md-item-template>
				<span class="animated fadeIn" md-highlight-text="search" md-highlight-flags="^i">{$travel_destination.name$}</span>
			</md-item-template>
			<md-not-found>
			</md-not-found>
		</md-autocomplete>
	</div>
</div>

<div class="legend" hide-sm hide-xs>
	<md-content layout="column">
		<div layout="row" layout-align="left center">
			<img src="https://maps.gstatic.com/mapfiles/ms2/micons/blue-dot.png"> Wisata
		</div>
		<div layout="row">
			<img src="http://maps.google.com/mapfiles/ms/micons/tree.png"> Taman Nasional
		</div>
		<div layout="row">
			<img src="https://maps.gstatic.com/mapfiles/ms2/micons/cycling.png"> Aktifitas
		</div>
		<div layout="row">
			<img src="https://maps.gstatic.com/mapfiles/ms2/micons/purple-dot.png"> Musem
		</div>
		<div layout="row">
			<img src="https://maps.gstatic.com/mapfiles/ms2/micons/POI.png"> Point of Interest
		</div>
		<div layout="row">
			<img src="https://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png"> Monumen
		</div>

	</md-content>
</div>
	</div>

