.md-button.md-cornered {
    border-radius: 0;
}
.user-nav {
    font-size: 16px;
    text-transform: none;
    font-weight: 500;
    min-width: 100px;
    z-index: 1;
}
.user-nav a {
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    color: rgb(235, 235, 235);
    background-color: rgba(32, 32, 32, 0.6);
}
.user-nav a:hover {
    text-decoration: none;
    background-color: rgba(253,21,27,0.6);
    color: rgba(250,250,250,0.96);
    transition: 0.2s;
}
.green-btn {
    background-color: rgba(127, 184, 0, 0.96);
    color: rgba(250,250,250,0.96);
}
.yellow-btn {
    background-color: rgba(255, 179, 15, 0.96);
    color: rgba(80,80,80,0.96);
}
.blue-btn {
    background-color: rgba(1, 41, 59, 0.96);
    color: rgba(200,200,200,0.96);
}
.purple-btn {
    background-color: rgba(154, 18, 179, 0.96);
    color: rgba(250,250,250,0.96);
}
.light-blue-btn {
    background-color: rgba(67, 127, 151, 0.96);
    color: rgba(250,250,250,0.96);
}
.md-button.left {
    border-radius: 10px 0 0 10px;
}
.md-button.right {
    border-radius: 0 10px 10px 0;
}
.md-button.middle {
    border-radius: 0;]
}
.md-button.main-nav:not([disabled]):hover {
    background-color: rgba(253,21,27,0.96);
    color: rgba(250,250,250,0.96);
    transition: 0.3s;
}
a.md-button.main-nav:not([disabled]):hover {
    background-color: rgba(253,21,27,0.96);
    color: rgba(250,250,250,0.96);
    transition: 0.3s;
}


.main-image {
    z-index: 0;
    display: block;
    position: relative;
    height: auto;
    width: auto;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

body {
    padding-top: 0;
}

.md-dialog-content-login {
    transition: 0.3s;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

[ng-cloak]
{
    display: none !important;
}

md-toolbar a:focus {
    outline:0;
}

md-toolbar a.md-button {
    margin: 0 0 0 0;
}

.user-nav{
    margin: 0 0 0 0;
}

.tooltip{
    margin-top: 15px;
    z-index: 1100;
}

.lowercase {
    text-transform: none;
}

.navbar {
    position: fixed;
    z-index: 1000;
}

.article-list {
    margin-top: 0;
}

#article-left-nav a{
    outline: 0;
    color: rgba(40, 40, 40, 0.87);
    text-decoration: none;
}

md-button {
    vertical-align: middle;
}

.article-list-title {
    position: absolute;
    margin: 20px 15px 0 15px;
    background-color: rgba(40,40,40,0.7);
    color: white;
    padding: 7px 12px 7px 12px;
    z-index: 1;
}

.video-shadow {
    transition: 0.2s;
}
.home-header {
    background: url('../images/bg.jpg');
    background-repeat: repeat;
    padding: 30px 20px 30px 20px;
    margin: 635px 0 0 0;
    -webkit-box-shadow: 0px 0px 17px 2px rgba(179,179,179,1);
    -moz-box-shadow: 0px 0px 17px 2px rgba(179,179,179,1);
    box-shadow: 0px 0px 17px 2px rgba(179,179,179,1);
}
.home-content {
    margin-top: 50px;
}

.home-content a{
    text-decoration: none;
    color: rgb(40,40,40);
}

.video-shadow:hover{
    -webkit-box-shadow: 0px 0px 17px 4px rgba(200,200,200,1);
    -moz-box-shadow: 0px 0px 17px 4px rgba(200,200,200,1);
    box-shadow: 0px 0px 17px 4px rgba(200,200,200,1);
    transition: 0.2s;
}

#posts{
    position: relative;
}

.bubble
{
    position: relative;
    width: 230px;
    color: white;
    height: 45px;
    padding: 0px;
    background: #ff5252;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 1px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 14px 0;
    border-color: #ff5252 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -16px;
    left: 31px;
}

.bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 14px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -17px;
    left: 31px;
}

.video-content a {
    text-decoration: none;
}

.video-content md-card-title{
    color: white;
}

.video-content md-card-content{
    color: rgb(20,20,20);
}

#posts:hover{
    -webkit-box-shadow: 0px 0px 17px 4px rgba(179,179,179,1);
    -moz-box-shadow: 0px 0px 17px 4px rgba(179,179,179,1);
    box-shadow: 0px 0px 17px 4px rgba(179,179,179,1);
    transition: 0.2s;
}

a {
    color: rgb(0,150,136);
}

.article-image{
    min-height: 150px;
    max-height: 150px;
    overflow: hidden;
}

.homelink-image-video{
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
}

.featured-dest-img{
    height: 300px;
    width: 100%;
}

#posts-categories a {
    color: white;
    text-decoration: none;
}

#posts-categories:hover {
    transition: 0.3s;
}

.material-pink{
    background-color: #E91E63 !important;
}

.material-indigo{
    background-color: #3F51B5 !important;
}

.material-blue-grey{
    background-color: #607D8B !important;
    color: white;
}

.material-deep-purple{
    background-color: #673AB7 !important;
}
.material-teal{
    background-color: rgb(0,150,136) !important;
    color: white !important;
}

.material-blue{
    background-color: #2196F3 !important;
}

#category-search-box {
    -webkit-box-shadow: 0px 0px 17px 4px rgba(179,179,179,1);
    -moz-box-shadow: 0px 0px 17px 4px rgba(179,179,179,1);
    box-shadow: 0px 0px 17px 4px rgba(179,179,179,1);
}

#faux-image {
    position: relative;
    top: 35px;
    width: 100%;
}

.faux-image {
    position: relative;
    top: 35px;
    width: 100%;
    overflow: hidden;
}

.faux-image-container {
    height: 230px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 17px 4px rgba(179,179,179,1);
    -moz-box-shadow: 0px 0px 17px 4px rgba(179,179,179,1);
    box-shadow: 0px 0px 17px 4px rgba(179,179,179,1);
}

.article-image-container {
    max-height: 400px;
    overflow: hidden;
}

.article-title {
    z-index: 1;
    color: white;
    max-width: 100%;
    text-align: center;
    position: absolute;
    top: 75px;
    left: 10%;
    padding: 5px 10px 5px 10px;
    background-color: rgba(20,20,20,0.45);
}
.article-date {
    z-index: 1;
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 200px;
}

.article-title-mobile {
    z-index: 1;
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50px;
    background-color: rgba(50,50,50,0.7);
}

.passive {
    cursor: default;
}

.btn-nomargin {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.center {
    text-align: center;
}

.resp-img{
    max-width:100% !important;
    height:auto;
    display:inline-block;
}

#article-nav {
    margin-top: 25px;
}

#article-post-title {
    z-index: 0;
}

.upload-thumb{
    max-width: 100px;
    margin: 5px 5px 5px 5px;
}

.report-category {
    position: relative;
    top: -8px;
}

.content {
    margin-top: 80px;
}
.search-area {
    position: absolute;
    height: 170px;
    width: 100%;
    top: 60px;
    background-color: rgb(0,150,136);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1;
}

.search-not-activated {
    position: absolute;
    height: 170px;
    width: 100%;
    top: 60px;
    background-color: rgba(0,0,0,0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.search-btn {
    border-radius: 100%;
    padding: 15px;
    position: relative;
    top: -12px;
    outline: 0;
    z-index: 1;
}
.search-btn-disabled {
}

.search-btn:hover{
    cursor: pointer;
}

.search-input {
    position: absolute;
    top: 95px;
    z-index: 2;
    border-color:#cccccc;
    border-style:solid;
    font-size:50px;
    width: 90%;
    padding:8px;
    border-width:0px;
    background-color: rgba(0,0,0,0);
    color:#ffffff;
    -webkit-box-shadow: 0px 2px 0px -1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 2px 0px -1px rgba(255,255,255,1);
    box-shadow: 0px 2px 0px -1px rgba(255,255,255,1);
}

footer {
    margin-top: 50px;
}
.search-input:focus {
    outline:none;
}

footer {
    color: white;
}

footer li {
    padding-bottom: 4px;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

footer a{
    color: white;
    text-decoration: none;
}

footer .material-blue h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-input-district {
    position: absolute;
    top: 220px;
    z-index: 2;
    border-color:#cccccc;
    border-style:solid;
    font-size:30px;
    width: 90%;
    padding:8px;
    border-width:0px;
    background-color: rgba(0,0,0,0);
    color:#ffffff;
    -webkit-box-shadow: 0px 2px 0px -1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 2px 0px -1px rgba(255,255,255,1);
    box-shadow: 0px 2px 0px -1px rgba(255,255,255,1);
}
.search-input:focus {
    outline:none;
}

.loading {
    position: fixed;
    top: 38%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#posts a{
    outline: 0;
}

#travel-destination-search {
    -webkit-box-shadow: 0px 0px 3px 1px rgba(212,212,212,1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(212,212,212,1);
    box-shadow: 0px 0px 3px 1px rgba(212,212,212,1);
}

.dest-search-icon {
    padding-top: 8px;
    padding-left: 0;
    padding-right: 5px;
}

.dest-search-row {
    padding-right: 20px;
}

.dest-search-no-margin {
    margin: 10px 0 10px 0;
}

md-autocomplete[md-floating-label] md-input-container{
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.checkbox-dest{
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.category-search {
    border-right: 2px solid teal;
}

.district-search {
    border-right: 2px solid rgba(255, 179, 15, 0.96);
}

.province-search {
    border-right: 2px solid #3F51B5;
}
.region-search {
    border-right: 2px solid #E91E63;
}

.blue-grey-border-right{
    border-right: 2px solid #607D8B;
}

.light-blue-border-right{
    border-right: 2px solid #2196F3;
}

.purple-border-right{
    border-right: 2px solid #673AB7;
}

#dest-search-box {
    padding-top: 30px;
}

#art-search-box {
    padding-top: 30px;
    padding-left: 30px;
}

.art-search-box {
    padding-top: 30px;
    padding-left: 30px;
}

.video-container {
    z-index: 1;
    position: absolute !important;
    top: 63px;
    height: 625px;
    width: 100%;
}

md-sidenav a {
    color: rgb(30,30,30);
    text-decoration: none;
}
md-sidenav{
    z-index: 1001 !important;
}

.video-content {
    top: 80px;
    position: absolute;
    z-index: 1;
}

.visited {
    position: relative;
    top: -24px;
    background-color: rgb(0,150,136);
    z-index: 200;
    color: white;
    padding: 4px 10px 4px 4px;
}

.home-tagline{
    background-color: rgba(30,30,30,0.7);
    color: white;
    padding: 5px 30px 5px 30px;
    margin-left: 18px;
    margin-bottom: 5px;
    border-radius: 15px;
}

.home-tagline-container {
    height: 400px;
}

md-card a {
    cursor: pointer;
}

.home-link-title {
    position: relative;
    top: -15px;
    padding: 10px 10px 10px 15px;
    color: white;
}

.remove-height{
    height: 0;
}

.no-padding {
    padding: 0 0 0 0 !important;
}

.no-outline {
    outline: 0;
}

.home-card-video-content {
    margin-top: -25px;
    padding: 0 10px 0 0 !important;
}

#dest-search-box-title{
    margin-left: 4px;
    padding-left: 1px;
    padding-right: 30px;
    border-bottom: 6px solid teal;
    position: relative;
    top: -25px;
    padding-bottom: 3px;
}

#art-search-box-title{
    margin-left: 0;
    padding-left: 1px;
    padding-right: 80px;
    border-bottom: 6px solid #3F51B5;
    position: relative;
    top: -15px;
    left: -8px;
    padding-bottom: 3px;
}

.border-bot {
    border-bottom: 2px solid;
}

.article-category-select {
    margin: 0 0 0 0;
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 8px;
}

.border-right {
    border-right: 3px solid grey;
}

.tagline {
    z-index: 1;
    background-color: rgba(50,50,50,0.8);
    color: white;
    padding: 7px 12px 7px 12px;
    position: absolute;
    top: 200px;
}

.tagline-medium {
    z-index: 1;
    background-color: rgba(50,50,50,0.8);
    color: white;
    padding: 7px 12px 7px 12px;
    position: absolute;
    top: 160px;
}

.tagline-mobile {
    z-index: 1;
    background-color: rgba(50,50,50,0.8);
    color: white;
    padding: 7px 12px 7px 12px;
    position: absolute;
    top: 60px;
}

input[type="search-white"]::-webkit-input-placeholder {
    color: white !important;
}

input[type="search-white"]:-moz-placeholder { /* Firefox 18- */
    color: white !important;
}

input[type="search-white"]::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;
}

input[type="search-white"]:-ms-input-placeholder {
    color: white !important;
}

.dest-side {
    margin-top: 100px;
}

@media(max-width: 960px){
    .dest-side{
        margin-top: 20px;
    }
}

.dest-side-row {
    margin-bottom: 10px;
}

.dest-side-row-last{
    margin-bottom: 35px;
}

.angular-google-map-container {
    width: 100%;
    height: 93.5%;
    position: absolute;
    top: 63px;
    left: 0;
}

.sidenav-dest {
    padding-left: 8px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.legend {
    position: absolute;
    top: 25%;
    z-index: 2000;
    right: 0;
    border: solid 1px rgb(220,220,220);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(180,180,180,1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(180,180,180,1);
    box-shadow: 0px 0px 3px 1px rgba(180,180,180,1);
}

.legend md-content{
    padding: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0.8);
}

.legend md-content div {
    padding: 15px 0 5px 0;
    color: black;
}

.dest-side-divider{
    border-left: 2px solid teal;
}

.map-search {
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 25%;
    width: 50%;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(180,180,180,1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(180,180,180,1);
    box-shadow: 0px 0px 3px 1px rgba(180,180,180,1);
}

.map-search md-autocomplete{
    background-color: rgba(255,255,255,0.8);
}

.map-search md-content {
    padding: 5px 15px 8px 10px;
    background-color: rgba(255,255,255,0.93);
}

.pad-right {
    padding-right: 20px;
}

.parent {
    display: block;
}
.pointer:hover {
    cursor: pointer;
}

canvas {
    width: 100%;
    height: 100%
}

#transportation-list{
    position: relative;
    top: 100px;
}

.resize {
    max-width:100%;
    max-height:100%;
}

.resize-container {
    display: block;
}

.gallery-container {
    display: block;
    width: 300px;
    height: 300px;
    max-width:100%;
    max-height:100%;
}
.gallery-thumbnail {
    max-width:100%;
    height:200px;
}

.map-info-container {
    width: 300px;
}

.info {
    margin-top: 100px;
}

.map-info-img{
    display: block;
    max-width:130px;
    max-height:130px;
    width: auto;
    height: auto;
}

.card img {
    width: 100%;
    height: 100%;
    display: inline-block;
}

ul[rn-carousel] > li {
    position: relative;
    margin-left: -100%;
}

ul[rn-carousel] > li:first-child {
    margin-left: 0;
}

ul[rn-carousel] img {
    max-width: 100%;
}
.slider {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
}

.pagination {
    height: 36px;
    margin: 18px 0;
}
.pagination ul {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    margin-left: 0;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
    display: inline;
}
.pagination a {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    outline: 0;
    border: 1px solid #ddd;
    border-left-width: 0;
}
.pagination a:hover,
.pagination .active a {
    background-color: #f5f5f5;
}
.pagination .active a {
    color: #999999;
    cursor: default;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
    color: #999999;
    background-color: transparent;
    cursor: default;
}
.pagination li:first-child a {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}

md-card>:not(md-card-content) img, md-card>img {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  height: 100% !important;
  min-height: 0;
}